﻿body
{
    font-family: 'Segoe UI', sans-serif
}

h1, h2
{
    font-weight: normal;
}

span {
    font-style: italic
}

.good
{
    color: #8CBF26;
}

.bad
{
    color: #E51400;
}

li
{
    font-weight: bold;
}

    li li
    {
        font-weight: normal;
        color: #000;
    }